vendor
node_modules
Homestead.yaml
.env
build-tools/node_modules
public/assets/.sass-cache
public/assets/node_modules
public/.htpasswd
docker/.mysql-data
composer.lock
src/resources/views/vendor
composer.phar
storage/debugbar
src/public/assets/.sass-cache/
src/public/assets/bower_components/
/docker/mysql-data
.DS_Store
