.highscore-box{
	.button-box{
		a{
			display: inline-block;
			width: 100%;
			background-color: $rl-green;
			color: #fff;
			width: 35px;
			line-height: 35px;
			text-align: center;

			@include rl-transition;

			&:hover, &.active{
				background-color: $rl-violet;
			}
		}

		select{
			display: inline-block;
			width: 100px;
			height: 36px;
			position: relative;
			top: 3px;
		}
	}

	.highscore-single span.bg{
		@extend h3;
		margin: 0;
	}

	.highscore-single .rank{
		float: left;
		background-color: #fff;
		color: $rl-black;
		border-radius: 6px;
		font-size: 10px;
		display: inline-block;
		height: 18px;
		width: 18px;
		text-align: center;
		line-height: 18px;
	}

	.highscore-single .score{
		text-align: right;
		width: 100px;
	}

	.highscore-single img{
		position: relative;
		top: -2px;
		height: 27px;
	}
}